*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 700px;
    height: 400px;
    margin: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
.cart{
    width: 400px;
    height: 400px;
    padding: 30px;
}
.contact-left{
    background-color: #9a28dc;
    color: white;
    line-height: 1.5rem;
}
.contact-right{
    background-color: #201f20;
    color: white;
    line-height: 1.6rem;
}
.contact-right>h2{
    color: blue;
    margin-top: 20px;
}
.contact-right>h4{
    margin-top: 5px;
}
.contact-right>h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-right input{
    padding: .57rem;
    width: 250px;
}
.contact-right>button{
    margin-top: 10px;
    background-color: rgb(0, 123, 255);
    border: none;
    color: white;
    padding:.57rem;
    width: 250px;
}

}
.contact-left>p{
    margin-top: 10px;
}
.contact-left>h3{
    margin-top: 10px;
}
.contact-left>h1{
    margin-top: 10px;   
}
.contact-left>button{
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    
}